# Environment files (VERY IMPORTANT)
.env
.env.local
frontend/.env
frontend/.env.local

# Python
venv/
__pycache__/
backend/venv/
backend/__pycache__/

# Backend temp files
uploads/
outputs/

# Node / frontend
node_modules/
.next/
frontend/node_modules/
frontend/.next/

# OS files
.DS_Store
Thumbs.db

# Misc
*.zip
temporarily.js
frontend/7.5.0
frontend/frontend@0.1.0
frontend/next
frontend/npm
frontend/npx